{
  "option_settings": [
    {
      "option_name": "RDS_DB_NAME", 
      "namespace": "aws:elasticbeanstalk:application:environment", 
      "value": "friends"
    }, 
    {
      "option_name": "RDS_HOSTNAME", 
      "namespace": "aws:elasticbeanstalk:application:environment", 
      "value": "friends.cidfwkcbph8b.us-west-1.rds.amazonaws.com"
    }, 
    {
      "option_name": "RDS_PORT", 
      "namespace": "aws:elasticbeanstalk:application:environment", 
      "value": 3306
    }, 
    {
      "option_name": "RDS_USERNAME", 
      "namespace": "aws:elasticbeanstalk:application:environment", 
      "value": "friends"
    }, 
    {
      "option_name": "RDS_PASSWORD", 
      "namespace": "aws:elasticbeanstalk:application:environment", 
      "value": "hack22!Q"
    }, 
    {
      "option_name": "aws_access_key_id", 
      "namespace": "aws:elasticbeanstalk:application:environment", 
      "value": "AKIAJDAHUXMLWPO5AJ7A"
    }, 
    {
      "option_name": "aws_secret_access_key", 
      "namespace": "aws:elasticbeanstalk:application:environment", 
      "value": "eRTmbq8Sj5tRM4apE8gj4ell3Ro/3eY8XGcnISt+"
    }
  ]
}