
.songs-list{
    padding-bottom: 35px;
   /* overflow-y: auto; 
    height:600px; */
}

/* .songBlock {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 270px;
} */

/* .circMe{
    border-radius: 50%;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}
.leftBlock{
   padding-top: 20px;
   float:left; 
   clear:left;
}
.rightBlock{
    padding-top: 20px;
    float:left; 
 } */
